* {
    box-sizing: content-box;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 1%;
    list-style: none;
}
body{
    background-image: url("img/pokemon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
a{
    text-decoration: none;
    color: black;
}
.listado ul{
    width: 20vw;
    height: 48vh;
    float: left;
    background-image: url("img/Fondo.png");
    /*background-color: red;*/
}
.imagen{
    margin-left: 8%;
    margin-top: 10%;
    width: 14vw;
    height: 30vh;
    box-sizing: content-box;
}
.numero{
    box-sizing: border-box;
    margin-bottom: 3%;
    /*border: solid rgb(147, 228, 100);*/
}
.nombreP{
    box-sizing: border-box;
    /*border: solid rgb(58, 168, 196);*/
}
.planta{
    box-sizing: border-box;
    background-color: rgb(128, 196, 87);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.normal{
    box-sizing: border-box;
    background-color: rgb(172, 175, 122);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.veneno{
    box-sizing: border-box;
    background-color: rgb(138, 78, 132);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.bicho{
    box-sizing: border-box;
    background-color: rgb(159, 180, 13);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.fuego{
    box-sizing: border-box;
    background-color: rgb(233, 126, 46);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.agua{
    box-sizing: border-box;
    background-color: rgb(110, 147, 189);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.electrico{
    box-sizing: border-box;
    background-color: rgb(235, 209, 62);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.hielo{
    box-sizing: border-box;
    background-color: rgb(153, 214, 219);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.lucha{
    box-sizing: border-box;
    background-color: rgb(164, 54, 41);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.tierra{
    box-sizing: border-box;
    background-color: rgb(200, 191, 116);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.volador{
    box-sizing: border-box;
    background-color: rgb(158, 148, 200);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.siquico{
    box-sizing: border-box;
    background-color: rgb(223, 95, 128);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.roca{
    box-sizing: border-box;
    background-color: rgb(191, 168, 56);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.fantasma{
    box-sizing: border-box;
    background-color: rgb(107, 91, 136);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.dragon{
    box-sizing: border-box;
    background-color: rgb(87, 40, 218);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.oscuridad{
    box-sizing: border-box;
    background-color: rgb(87, 40, 218);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.acero{
    box-sizing: border-box;
    background-color: rgb(190, 197, 216);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
.hada{
    box-sizing: border-box;
    background-color: rgb(218, 169, 216);
    padding: 4px;
    margin-top: 0%;
    float: left;
}
footer {
    box-sizing: content-box;
    background-color: rgb(155, 156, 224);
    width: 100%;
    float: left;
}

