*{
    box-sizing: content-box;
    list-style: none;
}
body{
    background-image: url("img/pokemon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
a{
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
#segParte{
    text-decoration:underline;
}

