*{
    box-sizing: content-box;
    list-style: none;
}
h2{
    margin-left: 1%;
}
li{
    margin-left: 5%;
}
.respuesta{
    margin-left: 5%;
    margin-right: 5%;
}
#imagen{
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}