* {
    box-sizing: content-box;
    list-style: none;
}
span{
    margin-right: 3%;
}
body{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("img/pokemon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
a{
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
h1{
    box-sizing: content-box;
    width: auto;
    text-align: center;
    border: solid rgb(0, 0, 0);
}
h2{
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 3%;
}
p{
    margin-left: 3%;
    margin-right: 3%;
}
.imagen{
    box-sizing: border-box;
    margin-top: 1%;
    float: left;
    border: solid rgb(0, 0, 0);
    float: left;
}
.descrip{
    box-sizing: content-box;
    margin-top: 1%;
    margin-left: 6%;
    width: 15vw;
    border: solid rgb(0, 0, 0);
    float: left;
}
.carac{
    box-sizing: content-box;
    margin-top: 1%;
    margin-left: 6%;
    width: 13vw;
    border: solid rgb(0, 0, 0);
    float: left;
}
.tipo{
    box-sizing: content-box;
    margin-top: 1%;
    margin-left: 5%;
    width: 17vh;
    height: 25vh;
    border: solid rgb(0, 0, 0);
    float: left;
}
.debilidades{
    box-sizing: content-box;
    margin-top: 1%;
    margin-left: 5%;
    width: 17vh;
    height: 25vh;
    border: solid rgb(0, 0, 0);
    float: left;
}
.evoluciones{
    box-sizing: content-box;
    border: solid rgb(0, 0, 0);
    margin-top: 24%;
    height: 50vh;
}
.evolucionesS{
    box-sizing: content-box;
    border: solid rgb(0, 0, 0);
    margin-top: 22%;
    height: 93vh;
}
.evoA{
    box-sizing: content-box;
    border: solid rgb(187, 235, 14);
    width: 40vh;
    height: 39vh;
    margin-left: 4%;
    float: left;
}
.evo{
    box-sizing: content-box;
    border: solid rgb(0, 0, 0);
    width: 40vh;
    height: 39vh;
    margin-left: 4%;
    float: left;
}
.evoA .numero{
    box-sizing: content-box;
    height: 15px;
    float: left;
}
.evo .numero{
    box-sizing: content-box;
    height: 15px;
    float: left;
}

.planta{
    box-sizing: content-box;
    background-color: rgb(128, 196, 87);
    margin-right: 45px;
    margin-bottom: 10px;
}
.normal{
    box-sizing: content-box;
    background-color: rgb(172, 175, 122);
    margin-right: 38px;
    margin-bottom: 10px;
}
.veneno{
    box-sizing: content-box;
    background-color: rgb(138, 78, 132);
    margin-right: 38px;
    margin-bottom: 10px;
}
.bicho{
    box-sizing: content-box;
    background-color: rgb(159, 180, 13);
    margin-right: 48px;
    margin-bottom: 10px;
}
.fuego{
    box-sizing: content-box;
    background-color: rgb(233, 126, 46);
    margin-right: 47px;
    margin-bottom: 10px;
}
.agua{
    box-sizing: content-box;
    background-color: rgb(110, 147, 189);
    margin-right: 52px;
    margin-bottom: 10px;
}
.electrico{
    box-sizing: content-box;
    background-color: rgb(235, 209, 62);
    margin-right: 11px;
    margin-bottom: 10px;
}
.hielo{
    box-sizing: content-box;
    background-color: rgb(153, 214, 219);
    margin-right: 51px;
    margin-bottom: 10px;
}
.lucha{
    box-sizing: content-box;
    background-color: rgb(164, 54, 41);
    margin-right: 47px;
    margin-bottom: 10px;
}
.tierra{
    box-sizing: content-box;
    background-color: rgb(200, 191, 116);
    margin-right: 47px;
    margin-bottom: 10px;
}
.volador{
    box-sizing: content-box;
    background-color: rgb(158, 148, 200);
    margin-right: 36px;
    margin-bottom: 10px;
}
.siquico{
    box-sizing: content-box;
    background-color: rgb(223, 95, 128);
    margin-right: 31px;
    margin-bottom: 10px;
}
.roca{
    box-sizing: content-box;
    background-color: rgb(191, 168, 56);
    margin-right: 53px;
    margin-bottom: 10px;
}
.fantasma{
    box-sizing: content-box;
    background-color: rgb(107, 91, 136);
    margin-right: 11px;
    margin-bottom: 10px;
}
.dragon{
    box-sizing: content-box;
    background-color: rgb(87, 40, 218);
    margin-right: 40px;
    margin-bottom: 10px;
}
.oscuridad{
    box-sizing: content-box;
    background-color: rgb(87, 40, 218);
    margin-right: 11px;
    margin-bottom: 10px;
}
.acero{
    box-sizing: content-box;
    background-color: rgb(190, 197, 216);
    margin-right: 11px;
    margin-bottom: 10px;
}
.hada{
    box-sizing: content-box;
    background-color: rgb(218, 169, 216);
    margin-right: 52px;
    margin-bottom: 10px;
}