*{
    box-sizing: content-box;
    list-style: none;
}
body{
    background-image: url("img/pokemon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
a{
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
h1{
    margin-top: 1%;
    margin-left: 1%;
}
h2{
    text-align: center;
}
h3{
    margin-top: 1%;
    margin-left: 2%;
}
.infoBase{
    border: solid rgb(66, 91, 175);
    margin-left: 10%;
    width: 40vh;
    height: 38vh;
    float: left;
}
#entrenador{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 4%;
    width: 41%;
    float: left;
}
.medallas{
    border: solid rgb(66, 91, 175);
    float: left;
    height: 38vh;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
#equipoTitulo{
    margin-bottom: 0%;
}
.equipo{
    border: solid rgb(66, 91, 175);
    float: left;
}
.orden{
    box-sizing: border-box;
    border: solid rgb(66, 91, 175);
    width: 32vh;
    float: left;
}
.imagen{
    width: 60%;
    margin-left: 8%;
}
.nombreP{
    width: 14vh;
    margin-left: 22%;
}
footer{
    float: left;
}